@font-face {
	font-family: 'SCE-PS3 Rodin LATIN';
	src: url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.eot'); /* IE9 Compat Modes */
	src: url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.woff') format('woff'), /* Modern Browsers */
		 url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.woff2') format('woff2'), /* Modern Browsers */
		 url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/regular/SCE-PS3\ Rodin\ LATIN\ Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'SCE-PS3 Rodin LATIN';
	src: url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.eot'); /* IE9 Compat Modes */
	src: url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.woff') format('woff'), /* Modern Browsers */
		 url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.woff2') format('woff2'), /* Modern Browsers */
		 url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/bold/SCE-PS3\ Rodin\ LATIN\ Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}
@font-face {
	font-family: 'SCE-PS3 Rodin LATIN';
	src: url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.eot'); /* IE9 Compat Modes */
	src: url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.woff') format('woff'), /* Modern Browsers */
		 url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.woff2') format('woff2'), /* Modern Browsers */
		 url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/italic/SCE-PS3\ Rodin\ LATIN\ Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-style: italic;
}
@font-face {
	font-family: 'SCE-PS3 Rodin LATIN';
	src: url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.eot'); /* IE9 Compat Modes */
	src: url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.woff') format('woff'), /* Modern Browsers */
		 url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.woff2') format('woff2'), /* Modern Browsers */
		 url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/BI/SCE-PS3\ Rodin\ LATIN\ Bold\ Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: bold;
}