/* -------- Website Font CSS --------- */

@import url('./font.css');


/* -------- Toggle Switch CSS --------- */


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }


/* -------- Website CSS --------- */


* {
    box-sizing: border-box;
}

body {
    font-family: "SCE-PS3 Rodin LATIN", sans-serif;
    padding: 10px 10px 10px 10px;
    background: #f1f1f1;
	margin: 0;
	height: 100%;
	
}  

/* Style the header */
.header {
    display: block;
    background-color: bisque;
    padding: 10px;
    text-align: center;
}

.header h1 {
	font-size: 25px;
	font-style: italic;
}

/* Footer */
.footer {
	float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    background: black;
	position: fixed;
	width: 98.5%;
	bottom: 0;

}
.footer p {
	font-size: 15px;
	font-style: italic;
	color: white;
}


/* A general white card block to surround posts/switch options */
.card {
    display: block;
    background-color: white;
    padding: 20px;
	height: auto;
	margin: auto;
}

/* affects p element in the card class element */
.card p {
    font-size: 20px;
	font-weight: none;
	margin: 0px 0px 15px 0px;
	padding: 25px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    
}
  
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Post image */
.img_canvas {
	background-color: gainsboro;
	display: inline-block;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1), inset 0 0 1px rgba(255, 255, 255, 0.1);
	width: 250px;
	height: 250px;
	margin: 20px 20px 10px 20px;
}

.img_canvas img {
	width: 100%;
	height: 100%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.post_leftcolumn {   
	float: left;
	width: auto;
}
  
/* Right column */
.post_rightcolumn {
	float: left;
	width: 77%;
	background-color: #f1f1f1;
}

/* Main page Left column */
.main_leftcolumn {
	float: left;
	width: 70%;
	background-color: black;
	padding: 10px 10px 10px 10px;
}
  
/* Main page Right column */
.main_rightcolumn {
	float: left;
	width: 30%;
	padding-left: 20px;
	margin: 0px 0px 0px 0px;
}

/* Add a card effect for articles */
.sidecard {
	background-color: white;
	width: 100%;
	padding: 20px;
}